/** clock effect **/

#clock {
  width: 550px;
  height: 550px;
  color: #fff;
  border: none;
  border-radius: 50%;
  position: relative;
  margin-bottom: 40px;
  background: transparent;
}
#timer {
  opacity: 0.5;
  font-size: 2em;
	text-align: center;
}


/** end **/


/** clock hands **/

#secHand {
  width: 2px;
  height: 50%;
  background-color: #fff;
  transform-origin: 50% 80%;
  position: absolute;
  top: 10%;
  left: 50%;
  opacity: 0.5;
}

#minHand {
  width: 4px;
  height: 40%;
  background-color: #fff;
  transform-origin: 50% 80%;
  position: absolute;
  top: 18%;
  left: calc(50% - 1px);
  opacity: 0.8;
}


/** end **/


/** clock numbers **/


.num {
  height: 100%;
  position: absolute;
  left: calc(50% - 0.5em);
}

.num div {
  width: 1em;
  line-height: 2em;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  font-size: 1.5em;
}

.num1 {
  transform: rotate(30deg);
  opacity: 0.5;
}

.num2 {
  transform: rotate(60deg);
  opacity: 0.5;
}

.num3 {
  transform: rotate(90deg);
}

.num4 {
  transform: rotate(120deg);
  opacity: 0.5;
}

.num5 {
  transform: rotate(150deg);
  opacity: 0.5;
}

.num6 {
  transform: rotate(180deg);
}

.num7 {
  transform: rotate(210deg);
  opacity: 0.5;
}

.num8 {
  transform: rotate(240deg);
  opacity: 0.5;
}

.num9 {
  transform: rotate(270deg);
}

.num10 {
  transform: rotate(300deg);
  opacity: 0.5;
}

.num11 {
  transform: rotate(330deg);
  opacity: 0.5;
}

.num12 {
  transform: rotate(0deg);
}


/** end **/